@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
}

body {
  background: url("images/backdrop-min.jpg") no-repeat#24a0a7;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#bodyWrapper {
  height: 100vh;
  width: 100vw;
  display: grid; 
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0;
}

#contentWrapper {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding-top: 30px;
}

header h1 {
  font-size: 6em;
  color: #ffeb67;
  font-family: 'Permanent Marker', cursive;
  transform: rotate(-3deg);
  filter: drop-shadow(10px 10px 15px #000000);
  line-height: 1;
}

#intro {
  margin: 40px auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
  opacity: 0;
}

#intro p {
  background: #ee7878;
  background: rgb(249,21,103);
  background: linear-gradient(193deg, rgba(249,21,103,1) 0%, rgba(228,58,182,1) 24%, rgba(255,216,0,1) 100%); 
  padding: 20px 90px;
  transform: rotate(-2deg);
  font-size: 1rem;
  box-shadow:15px 10px 20px rgb(22, 22, 22);
  border-radius: 50px 15px 50px 15px;
  font-family: 'Permanent Marker', cursive;
  color: #FFF;
  font-size: 1rem;
  width: 80%;
  text-align: center;
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(107, 19, 19);
  position: fixed;
  width: 110%;
  top: 40%;
  transform: translate(0, -50%);
  padding: 50px 150px;
  transform: rotate(-3deg);
  margin-left: -5%;
  background: rgb(249,21,103);
  background: linear-gradient(193deg, rgba(249,21,103,1) 0%, rgba(228,58,182,1) 24%, rgba(255,216,0,1) 100%); 
}

#banner h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

#banner button {
  margin-top: 20px;
  transform: rotate(-6deg);
  padding: 20px 60px;
  cursor: pointer;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  border-radius: 20px;
}

#gameBoard {
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: 0 auto;
  width: 620px;
  height: 620px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background: rgba(2, 169, 247, 0.7);
  border: solid 10px #ee7878;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 10px #eede78, 1px 1px 1px 15px #e4d724;
  transform: rotate(1deg);
}

.square {
  border:solid 1px #1e797e;
  align-items: center;
  justify-content: center;
  caret-color: rgba(0,0,0,0);
  cursor:pointer;
  width: 200px;
  height: 200px;
}

.square:hover {
  background: rgba(2, 169, 247, 0.8);
  transition: 900ms;
}

.square img {
  width: 200px;
  height: 200px;
}

#announcement {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 620px;
  border-radius: 10px;
  border: solid 10px #ee7878;
  margin: -10px 0 0 -10px;
  opacity: .8;
  background: rgb(249,21,103);
  background: linear-gradient(193deg, rgba(249,21,103,1) 0%, rgba(228,58,182,1) 24%, rgba(255,216,0,1) 100%); 
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0 60px;
  line-height: 1;
}

/* .rick { background: url("images/rick.jpeg") no-repeat; }
.morty { background: url("images/morty.png") no-repeat; }
.summer { background: url("images/summer.jpeg") no-repeat; }
.jerry { background: url("images/jerry.png") no-repeat; }
.ants { background: url("images/antsinmyeyes.jpeg") no-repeat;}
.chairwaiter { background: url("images/chairwaiter.jpeg") no-repeat; }
.alanrails { background: url("images/alanrails.jpeg") no-repeat; }
.einstein { background: url("images/einstein.jpeg") no-repeat; }
.fishheadrick { background: url("images/fishheadrick.jpeg") no-repeat; }
.fishheadmorty { background: url("images/fishheadmorty.jpeg") no-repeat;}
.babylegs { background: url('images/babylegs.jpeg') no-repeat; }
.beth { background: url('images/beth.jpeg') no-repeat; }
.amberturd { background: url('images/amberturd.jpeg') no-repeat; }
.bigmorty { background: url('images/bigmorty.jpeg') no-repeat; }
.birdperson { background: url('images/birdperson.png') no-repeat; }
.plumbus { background: url('images/plumbus.jpeg') no-repeat; }
.evilmorty { background: url('images/evilmorty.jpeg') no-repeat; } 
.blimblam { background: url('images/blimblam.jpeg') no-repeat; } 
.bobby { background: url('images/bobby.jpeg') no-repeat; } 
.dumbassbug { background: url('images/dumbassbug.jpeg') no-repeat; } 
.chris { background: url('images/chris.jpeg') no-repeat; } 
.concerto { background: url('images/concerto.jpeg') no-repeat; }
.coolrick { background: url('images/coolrick.jpeg') no-repeat; }
.copmorty { background: url('images/copmorty.jpeg') no-repeat; }
.cousinnicky { background: url('images/cousinnicky.jpeg') no-repeat; }
.crocubot { background: url('images/crocubot.jpeg') no-repeat; }
.daron { background: url('images/dale.jpeg') no-repeat; } */

@media only screen and (max-width: 760px) {

  header h1 {
    font-size: 4em;
    padding: 30px 0 0 0;
  }

  #gameBoard {
    width: 440px;
    height: 440px;
  }

  .square, .square img {
    width: 140px;
    height: 140px;
  }

  #announcement {
    width: 440px;
    height: 440px;
    font-size: 3rem;
  }
  
}

@media only screen and (max-width: 560px) {
  #gameBoard {
    width: 320px;
    height: 320px;
    border: solid 5px #ee7878;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 5px #eede78, 1px 1px 1px 5px #e4d724;
  }

  .square, .square img {
    width: 103px;
    height: 103px;
  }

  #announcement {
    width: 320px;
    height: 320px;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 440px) {

  header h1 {
    font-size: 3em;
  }

  #gameBoard {
    width: 244px;
    height: 244px;
    border: solid 2px #ee7878;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 2px #eede78, 1px 1px 1px 2px #e4d724;
  }

  .square, .square img {
    width: 80px;
    height: 80px;
  }

  #announcement {
    width: 244px;
    height: 244px;
    font-size: 1rem;
  }
}